@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
}

#black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background: #000;
}

#main-doc {
  margin-top: 5rem;
  display: flex;
  flex-direction: column-reverse;
}

#navbar ul {
  height: 12rem;
  overflow-y: scroll;
  list-style-type: none;
  border-left: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

#center {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
  text-transform: capitalize;
}

.nav-link {
  padding: 3rem 3rem 0 3rem;
  text-decoration: none;
  font-size: 1rem;
  color: #000;
}
.nav-link::first-letter {
  text-transform: capitalize;
}

#navbar ul li {
  padding: 0.5rem;
}

header {
  font-size: 2rem;
  padding: 1rem 0 0.2rem 2rem;
}

h3 {
  padding: 0.5rem 2rem;
}

.main-section p {
  padding-left: 3rem;
}

.list,
code {
  width: 70%;
  background: rgb(202, 200, 200);
  margin: 2rem auto;
  border-radius: 0.5rem;
}

code {
  display: block;
  padding: 1rem;
}

.list ul {
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  #main-doc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #navbar {
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
  }

  #navbar ul {
    height: 28rem;
    overflow-y: scroll;
    border: none;
    border-right: 1px solid gray;
  }

  .nav-link {
    padding: 1rem;
  }

  #wrapper {
    margin-left: 18rem;
  }

  #center {
    margin-top: 5rem;
  }
}
